.material-icons {
    padding-top: 10px;
    vertical-align: middle;
    margin-left: 48%;
    
}
.boxscore {
    height: 65px;
    padding: 0;
    line-height: .05em;
    border-right: 1px solid black;
    background-color: #F7F7F7;
    border: .5px solid #e5e3e3;
}
.boxscore:hover{
    background-color: azure;
}